<div class="nested-fields">
    <div class="fields">
        <div class="field">
            <%= f.label :Product, style: 'font-weight: 100;'%>
            <%= f.association :product, collection: Product.all, label: false %>
        </div>
        <div class="field">
            <%= f.input :inventory, label: 'Current Quantity' %>
        </div>
        <%= link_to_remove_association 'X', f, style: 'margin-top:2em;color:#7a828a;' %>
    </div>
</div>
