# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: f1cb2b63ea12a2819d5931faec75c9ba30b42d1ec5757ab121a1a9b5679cb3463bd8bdb9f9b531ab19ed030b1381d6b41b32892d5ea307939945acbfb4be8eab

test:
  secret_key_base: 3e7f88bf1eb037131a94f9468d0b902650d43773c0c00e2c2859d05623049b45152a6a848b0b4725d3fdc356531b3d1eaa4f367a8d3588ba9aaf7a4620eb661b

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
