<h1>What do you need?</h1>
<h3>
    <% if params[:action] == 'index' %>
        <a class="item" href="/forms" style="color:#517fff;">Sales Reports</a> &nbsp;|&nbsp;
        <a class="item" href="/forms/products" style="color:#7a828a;">Craft Central Product List</a> &nbsp;|&nbsp;
        <a class="item" href="/forms/store_products" style="color:#7a828a;">Consignment Stores Product List</a>
    <% elsif params[:action] == 'products'%>
        <a class="item" href="/forms" style="color:#7a828a;">Sales Reports</a> &nbsp;|&nbsp;
        <a class="item" href="/forms/products" style="color:#517fff;">Craft Central Product List</a> &nbsp;|&nbsp;
        <a class="item" href="/forms/store_products" style="color:#7a828a;">Consignment Stores Product List</a>
    <% else %>
        <a class="item" href="/forms" style="color:#7a828a;">Sales Reports</a> &nbsp;|&nbsp;
        <a class="item" href="/forms/products" style="color:#7a828a;">Craft Central Product List</a> &nbsp;|&nbsp;
        <a class="item" href="/forms/store_products" style="color:#517fff;">Consignment Stores Product List</a>
    <% end %>
</h3>