<%= render 'header' %>
<form action="/forms/products" method="get" class="ui form">
    <div class="fields">
        <div class="ten wide field">
            <div class="ui left icon input">
                <input type="text" placeholder="Type an SKU or Product Name" name="query">
                <i class="search icon"></i>
            </div>
        </div>
        <button type="submit" class="ui button primary">SUBMIT</button>
    </div>
</form>