/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 */

@import "semantic-ui";
//****************GLOBAL*****************//
@font-face {
    font-family: Proxima Nova;
    src: url('Proxima Nova.ttf');
}

* {
    font-family: Proxima Nova;
    color: #7a828a;
}

body {
    background-color: #f7f8fa;
}

//************************************//
// **************LOGIN****************//
#login_page {
    height: 102vh;
    #login {
        background-image: image-url('login_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    img {
        margin-left: 1em;
    }
    .ui.form {
        padding-left: 8em;
        padding-right: 10em;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #login_side {
        background-image: image-url('sign_in.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

// ***********************************//
//***************NAVBAR**************//
.ui.top.fixed.menu {
    height: 3.5em;
    background-color: #ffffff;
}

//***********************************//
//**************SIDEBAR**************//
.ui.left.fixed.vertical.menu {
    z-index: 999;
    background-color: #ffffff;
    .item {
        color: #7a828a;
        img {
            display: inline;
        }
    }
}

//***********************************//
//**************CONTENT*************//
#content {
    padding-top: 5em;
    padding-right: 7em;
}

//********************************//
//**************HEADING***********//
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

@media only screen and (max-width: 768px) {
    .ui.left.fixed.vertical.menu {
        display: none;
    }
}