// Place all the styles related to the Stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.show-table {
    background-color: white !important;
    padding: 1rem;
    border-radius: 2em;
    box-shadow: 2px 4px whitesmoke !important;
}

td.paginate {
    text-align: center !important;
}
.header {
    font-weight: 400 !important;
}